.banner-info h1{margin: 0px; font-size: 46px; line-height: 62px; font-weight: 600; color: #fff; font-family: 'Playfair Display', serif;text-align: center;}
.banner-info h1 span {font-size: 50px;font-weight: 700;} 

@media screen and (max-width:1500px){
.banner-info h1{font-size: 36px;line-height: 52px;}
}

@media screen and (max-width:1199px){
.banner-info h1{font-size:26px;line-height: 42px;}
}

@media screen and (max-width:991px){
.banner-info h1 {font-size: 18px;line-height: 30px;}
}

@media screen and (max-width:991px){
.banner-info h1 {font-size: 18px;line-height: 30px;}
}